.find-id-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f8f9fa;
    padding: 20px;
}

.find-id-title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.find-id-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
}

.find-id-input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.find-id-button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.find-id-button:hover {
    background-color: #0056b3;
}


/*.test-box*/
/*{*/
/*    width: 100px; !* 박스 너비 *!*/
/*    height: 100px; !* 박스 높이 *!*/
/*    background-color: #D3B42D; !* 배경색 *!*/
/*    position: fixed; !* 화면 하단에 고정 *!*/
/*    bottom: 0; !* 하단에서 0px 위치 *!*/
/*    justify-content: center; !*수평 중앙 정렬*!*/
/*    margin: 20px; !* 하단 및 오른쪽으로 20px 여백 *!*/
/*}*/