body
{
    margin: 0; /* 페이지 여백 제거 */
    font-family: Arial, sans-serif; /* 기본 폰트 설정 */
    display: flex; /* 플렉스박스 사용 */
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    width: 100vw;
    height: 100vh; /* 화면 높이를 100% 사용 */
    background-color: #ffffff; /* 배경색 설정 */
}

.container
{
    display: flex; /* 플렉스박스 사용 */
    width: 150%; /* 너비 설정 */
    max-width: 600px; /* 최대 너비 설정 */
    background-color: white; /* 배경색 흰색 설정 */
    border-radius: 20px; /* 테두리 둥글게 설정 */
    overflow: hidden; /* 내용이 넘칠 때 숨김 */
}

.left-panel /*레이아웃*/
{
    width: 35%; /* 각각의 패널 너비 설정 */
    padding: 40px; /* 내부 여백 설정 */
    box-sizing: border-box; /* 박스 크기 설정 */
}

.left-panel /*스타일*/
{
    display: flex; /* 플렉스박스 사용 */
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    background-color: #E9ECEF; /* 배경색 설정 */
}

.logo-placeholder
{
    width: 160px;
    height: 160px;
    background-color: #E9ECEF; /* 배경색 설정 #E9ECEF*/
    border-radius: 20px; /* 테두리 둥글게 설정 */
    position: relative;
    top: -30px;
}

.logo-img
{
    max-width: 120%;
    max-height: 120%;
    object-fit: contain; /*이미지 비율 유지하며 컨테이너에 맞춤*/
    position: absolute; /*컨테이너 위에 겹쳐지도록 절대 위치*/
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto; /*이미지 중앙 위치*/
}

.right-panel /*레이아웃*/
{
    display: flex;
    width: 100%; /* 각각의 패널 너비 설정 */
    padding: 60px; /* 내부 여백 설정 */
    box-sizing: border-box; /* 박스 크기 설정 */
}

.right-panel /*스타일*/
{
    background-color: #E9ECEF; /* 배경색 설정 */
    position: relative; /* 상대적 위치 설정 */
}

.login-form
{
    margin-top: 20%;
    display: flex; /* 플렉스박스 사용 */
    flex-direction: column; /* 수직 방향 정렬 */
    align-items: flex-start; /* 아이템 시작점 정렬 */
}

.input-field
{
    width: 100%; /* 너비 100% 설정 */
    padding: 10px; /* 내부 여백 15px 설정 */
    margin-bottom: 15px; /* 아래쪽 여백 20px 설정 */
    border: none; /* 테두리 제거 */
    border-bottom: 1px solid #ccc; /* 아래쪽 테두리 설정 */
    background-color: transparent; /* 배경 투명 설정 */
    font-size: 16px; /* 글자 크기 설정 */
}

.social-logos /*레이아웃*/
{
    width: 40%;
    display: flex;
    justify-content: flex-start; /* 버튼을 왼쪽으로 정렬 */
    margin-bottom: 20px; /* 아래쪽 여백 설정 */
}

.social-login /*기능*/
{
    width: 20px; /* 버튼의 너비를 이미지 크기에 맞게 조정 */
    height: 20px; /* 버튼의 높이를 이미지 크기에 맞게 조정 */
    border: none; /* 테두리 없음 */
    border-radius: 15px;
    overflow: hidden; /* 내용이 넘칠 때 숨김 */
    cursor: pointer; /* 마우스 커서 포인터 변경 */
    display: flex; /* flex 컨테이너 지정 = 자식 요소 수평 수직 배치 */
    align-items: center; /* flex 컨테이너 높이 기준 자식 요소 수직 중앙 */
    justify-content: center; /* 아이템을 중앙으로 정렬 */
    margin-right: 10px;
}

.social-logo /*이미지 레이아웃*/
{
    width: 20px; /* 이미지 너비를 버튼 너비에 맞게 조정 */
    height: auto; /* 이미지 높이를 자동으로 조정 */
    margin-right: 0; /* 이미지 텍스트 사이 간격 제거 */
    vertical-align: middle; /* 이미지 텍스트 수직 정렬 */
}


.find
{
    margin-bottom: 20px;
}

.find-link
{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 15px
}

.login-button /*레이아웃*/
{
    width: 80%; /* 너비 100% 설정 */
    padding: 15px; /* 내부 여백 15px 설정 */
    border: none; /* 테두리 제거 */
    border-radius: 5px; /* 테두리 둥글게 설정 */
    cursor: pointer; /* 마우스 커서 포인터로 변경 */
}

.login-button /*스타일*/
{
    background-color: #868E96;
    color: white; /* 글자 색상 흰색 설정 */
    font-size: 18px; /* 글자 크기 설정 */
}

.login-button:hover
{
    background-color: #D1DFE8;
}
